body{
  color: #fff;
  overflow: hidden;
}
html, body{ width: 100%; height:100%; }

.timer{
  position: fixed;
  top:0;
  height: 100%;
  width: 100%;
}

.timer_countdown{
  margin-top: 13vh;
}
.timer_number_edit{
  font-size: 27vh;
  letter-spacing: 30px;
}

.material-icons.md-48 { 
  color: #134073;
  font-size: 48px; 
}
.buttons_area{
  margin-top: 16vh;
}

.time_choose{
  width: 50px;
}
